[Unit]
Description=Service to update Letsencryps crtificate weekly
Requires=docker.service
After=docker.service

[Timer]
OnUnitInactiveSec=7d

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/data/nginx/
ExecStart=/usr/local/bin/docker-compose -f /data/nginx/docker-compose.yaml up

[Install]
WantedBy=multi-user.target