[Path]
Unit=restarter-freeipa.service
PathChanged=/etc/letsencrypt/live/freeipa.aimc.io/
# trigger on changes to a file not just create/delete
# don't put comments in the same line as the command

[Install]
WantedBy=multi-user.target